body {
  font-family: "Open Sans", Arial, sans-serif;
}

.form-field {
  margin: 0 auto;
  width: 40%;
}

.form-field input[type="text"],
.form-field textarea {
  padding: 8px 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.form-field textarea {
  height: 60px;
}

.btn-container {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

#add-project {
  position: static;
  margin-top: 20px;
}

.btn-container button {
  display: inline-block;
  background-color: #ff4800;
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

button.btn-alt {
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
}

/* Project styles */

#project-form {
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
}

#display-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  margin-top: 30px;
  text-align: center;
  font-size: 28px;
}

div.project {
  background: #fff000;
  display: inline-block;
  margin: 10px;
  position: relative;
  padding: 15px 18px;
  border-radius: 5px;
}

/* Todo styles */

div#display-todos {
  margin-top: 30px;
}

#todo-form {
  background: #fff;
  position: absolute;
  font-size: 16px;
  top: 0;
  padding: 20px 15px;
  vertical-align: top;
  text-align: left;
  height: 100%;
  width: 100%;
}

#todo-form label {
  display: block;
  width: 50%;
}

#todo-form .inline-label {
  display: inline;
}

#todo-form .form-field {
  margin-bottom: 18px;
}

#todo-form .btn-container {
  margin-top: 50px;
  text-align: center;
}

.todo-row {
  display: block;
  border-bottom: 2px solid #ccc;
  margin: 0 auto;
  width: 60%;
}

.todo-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-around;
  background: #eee;
  padding-left: 10px;
}

.todo-title h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  width: 50%;
}

.todo-title span {
  color: #333;
  font-weight: 400;
  width: 20%;
}

.todo-title label {
  color: #333;
}

.priority-on .todo-title {
  border-left: 5px solid #ff4800;
}

.todo-description {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.todo-details {
  background: #fff9c9;
  padding: 10px 10px 10px 25px;
}

#delete-project {
  color: #ff6b31;
  display: inline-block;
  font-size: 18px;
  text-align: right;
}

.has-error {
  border: 1px solid #ff0000;
}

.error-msg {
  color: #ff0000;
}
